* {     box-sizing: border-box;     background-color:LightGrey;   }      

body {       font-family: "Times New Roman", Arial, sans-serif;       
    text-align: center;       
    color:#202020;       
    background-color:Gold;    }

p {       text-align:middle;       
        padding: 20px;       
        color:Blue;         
        font-weight:bold;   }          
button {       
        color:Blue;
    }
